body {
    background-color: black !important;
}

h1 {
    text-align: center;
    color: white !important;
}

#images {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 200vw;
    column-gap: 0px;
}

a {
    display: block;
    width: 33.3%;
    transition: .8s opacity;
}

img {
    height: 100%;
    max-width: 100%;
}

#images:hover img {
    opacity: 0.3;
}

#images:hover img:hover {
    opacity: 1;
}

#refresh {
    margin: 20px auto;
    display: block;
}

#refresh i {
    margin: 0 5px 0 0;
}

.carousel img {
    margin: 20px auto;
    border-radius: 10px;
}
