h1 {
    text-align: center;
}

#images {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    display: block;
    height: 200px;
    max-width: 30%;
}

img {
    height: 100%;
    max-width: 100%;
}

#refresh {
    margin: 20px auto;
    display: block;
}

#refresh i {
    margin: 0 5px 0 0;
}

.carousel img {
    margin: 20px auto;
}
